openapi: 3.1.0
info:
  title: Todo API (User)
  description: Todo API (User)
  version: 1.0.0
servers:
  - url: /api/user/
paths:
  /login/:
    post:
      tags:
        - User
      summary: login with email and pass
      description: |
        Use to fetch all the todos with pagination
      operationId: user-login
      requestBody:
        description: User Login
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                password:
                  type: string
              required:
                - email
                - password
      responses:
        "200":
          description: A successful response
          content: {}
        "400":
          description: Bad Request
          content: {}
  /register/:
    post:
      tags:
        - User
      summary: Register User
      operationId: register-user
      requestBody:
        description: User Registration
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                email:
                  type: string
                password:
                  type: string
                phone:
                  type: string
                city:
                  type: string
                country:
                  type: string
                profileImg:
                  type: string
              required:
                - name
                - email
                - password
      responses:
        '201':
          description: Todo details
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '400':
          description: Todo add Errors - Bad Request - invalid arguments 
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '500':
          description: Todo add Errors - Internal server error 
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: object
                    properties:
                      msg:
                        type: string
    